{
  "ecmaFeatures": {
    "blockBindings": true,
    "forOf": true,
    "jsx": true,
    "modules": true,
    "classes": true,
    "blockBindings": true,
    "destructuring": true,
    "arrowFunctions": true,
    "defaultParams": true,
    "forOf": true,
    "generators": true
  },
  "rules": {
    "semi": 2,
    "quotes": [
      2,
      "single"
    ],
    "no-underscore-dangle": 0, // would be nice to refactor this, may points to design issue!?
    "no-use-before-define": 0, // should be covered by unit tests
    "consistent-this": 2,
  },
  "env": {
    "browser": true,
    "es6": true,
    "mocha": true
  },
  "plugins": [
    "react"
  ]
}
