language: node_js
node_js:
  - 9

after_success:
  - chmod +x ./scripts/*.sh
  - npm run build

deploy:
  provider: script
  skip_cleanup: true
  branch: master
  script: ./scripts/deploy-to-ghpages.sh

env:
 global:
 - KATAS_SERVICE_DOMAIN: katas.tddbin.com
 - GA_TRACKING_ID: UA-47768219-1
 - GA_TRACKING_DOMAIN: tddbin.com
 - GH_REF: github.com/tddbin/tddbin-frontend.git
