:root {
  --runner-background-color: #EEE;
  --navigation-background-color: #363738;
  --navigation-foreground-color: #9c9e9f;
  --navigation-hover-color: #454445;
  --navigation-hover-background-color: #fedb00;
}
