.keyboard-shortcut-overlay {
  flex: 0;
  display:none;

  /* positioning */
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -225px;
  z-index: 100;

  /* styling */
  background-color: #DDD;
  color: #222;
  padding: 1em;
  border: 12px solid rgba(0, 0, 0, 0.4);
  border-radius: 8px;
}

  .keyboard-shortcut-overlay .shortcut {
    color: #e74141;
    font-family: monospace;
    min-width: 3em;
    display: inline-block;
    margin-right: 0.5em;
  }

  .keyboard-shortcut-overlay .run {
    color: green;
  }

  .keyboard-shortcut-overlay .subShortcut {
    margin-left: 2em;
    font-size: smaller;
  }

  .keyboard-shortcut-overlay .hint {
    font-size: small;
  }
