/* Common stuff */

.navigation-bar,
.navigation-bar a,
.navigation-bar button {
  background-color: var(--navigation-background-color);
  color: var(--navigation-foreground-color);
}

.navigation-bar {
  height: 50px;
  width: 100%;
  border-bottom: 1px solid #000;
  overflow: hidden;
  z-index: 1000; /* we have to make sure that it is above ace, this is not the best way :( */
}

.navigation-bar .tddbin {
  color: white;
  font-weight: bold;
  font-size: x-large;
  margin-right: 1em;
  height: 30px;
  vertical-align: middle;
}

.navigation-bar a,
.navigation-bar button {
  background-color: var(--navigation-hover-color);
  border: none;
  font-size: inherit;
  vertical-align: middle;
  margin-left: 1px;
  height: 50px;
  outline: none;
}

.navigation-bar button:hover {
  background-color: var(--navigation-hover-background-color);
  color: var(--navigation-hover-color);
}

/* logo */

.navigation-bar button.logo {
  background-image: url(./img/tddbin_logo.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-color: transparent;
  height: 30px;
  width: 30px;
  margin: 10px 20px 10px 10px;
  vertical-align: middle;
}
.navigation-bar button.logo:hover {
  animation-name: spin;
  animation-duration: 30s;
  animation-timing-function: linear;
}
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

.navigation-bar .icon {
  padding-left: 48px;
  padding-right: 16px;
  background-repeat: no-repeat;
}

/*.navigation-bar .icon.save {*/
  /*background-image: url(./img/arrow.svg);*/
/*}*/

.navigation-bar .icon.twitter,
.navigation-bar .icon.trello,
.navigation-bar .icon.github,
.navigation-bar .icon.uxebu {
  background-size: 50%;
  background-position: center center;
  float: right;
}

.navigation-bar .icon.uxebu {
  background-image: url(./img/uxebu_icon.svg);
  background-size: 70%;
  padding: 0;
  width: 120px;
}

.navigation-bar .icon.trello {
  background-image: url(./img/trello_icon.svg);
}

.navigation-bar .icon.github {
  background-image: url(./img/github_icon.svg);
}

.navigation-bar .icon.twitter {
  background-image: url(./img/twitter_icon.svg);
}


