/* Common stuff */

.navigation-bar {
  background-color: #2E3949;
  color: white;
  height: 50px;
  border-bottom: 1px solid #000;
  overflow: hidden;
}

.navigation-bar button {
  background-color: #384355;
  border: none;
  font-size: inherit;
  color: #C1C5CB;
  vertical-align: middle;
  margin-left: 1px;
  height: 50px;
  outline: none;
}

.navigation-bar button:hover {
  background-color: #475263;
}

/* logo */

.navigation-bar button.logo {
  background-image: url(./img/logo-150px.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-color: transparent;
  height: 30px;
  width: 30px;
  margin: 10px 20px 10px 10px;
  vertical-align: middle;
}

.navigation-bar .icon {
  padding-left: 48px;
  padding-right: 16px;
  background-repeat: no-repeat;
}

.navigation-bar .icon.new {
  background-image: url(./img/icon-new.png);
}

.navigation-bar .icon.save {
  background-image: url(./img/icon-reload.png);
}
