#katas-navigation {
  display: flex;
  position: fixed;
  bottom: 0;
  width: 100%;
  color: var(--navigation-foreground-color);
  background-color: var(--navigation-background-color);
  box-shadow: 5px 0 5px 2px grey;
}

#katas-navigation a {
  background-color: var(--navigation-hover-color);
  color: var(--navigation-foreground-color);
  padding: 0.5em;
  margin-right: 1px;
  text-decoration: none;
}
#katas-navigation a:hover {
  color: var(--navigation-hover-color);
  background-color: var(--navigation-hover-background-color);
}
#katas-navigation a.selected {
  color: var(--navigation-hover-color);
}
