body {
  margin: 0;
  font-family: sans-serif;
}

html, body, #tddbin, #main {
  height: 100%;
}

.editor-and-runner {
  position: fixed;
  /* 50px - the height of the navigation bar, variables would be nice :) */
  top: 50px;
}

.editor-and-runner .editor {
  position: fixed;
  width: 50%;
  height: calc(100% - 50px);
  float: left;
  border: none;
}

.editor-and-runner .runner {
  position: fixed;
  left: 50%;
  width: 50%;
  height: calc(100% - 50px);
  background-color: var(--runner-background-color);
}

  .editor-and-runner .runner iframe {
    border: none;
  }
